.cartContainer{
    max-width: 800px;
    margin: 20px auto;
    max-height: 700px;
    overflow-y: auto;
    border-radius: 5px;
    padding: 10px 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.cartContainer p{
    padding: 20px 0;
    margin: 0;
    text-align: center;
}