.productCard{
    border-radius: 5px;
    padding: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.cardImage{
    text-align: center;
}
.cardBody{
    padding: 10px 20px;
}
.price{
    color: rgb(84, 84, 84);
}

